
.signup-h2{
    position:absolute;
    top: 280px;
    left: 95px;

}



.form-space {  
    position:absolute;
    left: 38%;
    top: 320px;

    .signup-h2{
        position: absolute;
        top: -40px;
        right: 60px;
        margin-left: 0; 
        color:white;
       
    }

    .form-group{
        margin: 10px;
        margin-bottom: 30px;
      
    }

    .submit-button{
       position: absolute;
       left: 20px;
       color: black;
       background-color: white;
       border: 2px;
    }

      
}


@media screen and (max-width: 1446px) {
    .signup-h2{
        font-size: 20px;
    }
}

@media screen and (min-width: 1085) {
    .signup-h2{
        font-size: 15px;
    }
   
}