<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>

    <form id="registrationForm", method="POST", enctype="application/json">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

       <input type="submit" value="Register">
    </form>


    <a href="/">Home</a>
    <p>Already have an account? Click here to <a href="/login">log in</a>. </p>
</body>
</html>