<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Movie Details</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <img src="{{ movie.url_image }}" alt="{{ movie.title }} Poster" style="max-width: 400px; max-height: 600px;">
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Director:</strong> {{ movie.director }}</p>
    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>

    <h2>Reviews and Ratings</h2>

    {% for review, rating in reviews_and_ratings %}
    <div>
        <p><strong>Username:</strong> {{ review.username }}</p>
        <p><strong>Date:</strong> {{ review.review_date }}</p>
        <p><strong>Review:</strong> {{ review.review_text }}</p>
        <p><strong>Rating:</strong> {{ rating.rating_value }}</p>
        <hr>
    </div>
    {% endfor %}

    <a href="/movies">Back to Movie list</a>
    <a href='/movies/{{ movie.movie_ID }}'>Back to your review</a>
</body>
</html>
